<a href="https://colab.research.google.com/github/alexandreIFB/projects_colabority/blob/master/P5_alexandreAbreu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Motif D

## Leitura do arquivo e montagem da matriz

In [15]:
filename = '/content/motif_d.fasta'

dictSeqs = {}

with open(filename) as fp:
    for linha in fp:
      if(linha[0] == '>'):
        header = linha.strip()
        dictSeqs[header] = ''
      else:
        linha.rstrip()
        dictSeqs[header] = dictSeqs[header] + linha.replace('\n','')

#for i in dictSeqs.values():
  #print(i)

letras = ['A','U','G','C']

#print(len(letras))

matriz = [['x',1,2,3,4,5,6,'Freq Overall']]
linhaCont = 0
while(linhaCont < len(letras)):
  linha = []
  linha.append(letras[linhaCont])
  for x in range(0,7):
    linha.append('0')
  matriz.append(linha)
  linhaCont += 1


print(len(matriz))

5

In [35]:
import numpy as np
import pandas as pd


matriz = np.array(matriz)
# panda_df = pd.DataFrame(data = matriz[1:, 1:],
#                         index = matriz[1:, 0],
#                         columns = matriz[0, 1:])

# # Mostra a matriz pontuação
# display(panda_df)

## Frequencia na matriz

In [17]:
for x in range(0,6):
  tabela = {
  "A":0, "U":0, "G":0, "C":0,
  }
  for i in dictSeqs.values():
    tabela[i[x]] += 1
  freq = [tabela['A'] / 72,tabela['U'] / 72,tabela['G'] / 72,tabela['C'] / 72]
  matriz[0+1,x+1] = freq[0]
  matriz[1+1,x+1] = freq[1]
  matriz[2+1,x+1] = freq[2]
  matriz[3+1,x+1] = freq[3]

In [60]:
panda_df = pd.DataFrame(data = matriz[1:, 1:],
                        index = matriz[1:, 0],
                        columns = matriz[0, 1:])

panda_df = panda_df.astype(float)
panda_df.dtypes

#display(panda_df)

for i in range(0,4):
  panda_df.iat[i,6] = panda_df.iloc[i,0:-1].mean()

copiaMatriz = panda_df.copy()

copiaSubistituida = panda_df.copy()

display(panda_df)

          1    2    3    4         5         6  Freq Overall
A  0.000000  0.0  0.0  0.0  0.986111  0.000000      0.164352
U  0.986111  0.0  1.0  0.0  0.013889  0.263889      0.377315
G  0.013889  0.0  0.0  1.0  0.000000  0.722222      0.289352
C  0.000000  1.0  0.0  0.0  0.000000  0.013889      0.168981

## Matriz normalizada

In [40]:
for i in range(0,4):
  for x in range(0,6):
    panda_df.iat[i,x] = panda_df.iat[i,x] / panda_df.iat[i,6]

display(panda_df)

          1         2         3      4        5         6  Freq Overall
A  0.000000  0.000000  0.000000  0.000  6.00000  0.000000      0.164352
U  2.613497  0.000000  2.650307  0.000  0.03681  0.699387      0.377315
G  0.048000  0.000000  0.000000  3.456  0.00000  2.496000      0.289352
C  0.000000  5.917808  0.000000  0.000  0.00000  0.082192      0.168981

## Substituindo por min - media

In [63]:
for i in range(0,4):
  for x in range(0,6):
    if(copiaMatriz.iat[i,x] == 0):
      copiaSubistituida.iat[i,x] = min(numero for numero in copiaMatriz.iloc[0:,x] if numero != 0) - copiaMatriz.iloc[0:,x].mean()

display(copiaSubistituida)

          1     2     3     4         5         6  Freq Overall
A -0.236111  0.75  0.75  0.75  0.986111 -0.236111      0.164352
U  0.986111  0.75  1.00  0.75  0.013889  0.263889      0.377315
G  0.013889  0.75  0.75  1.00 -0.236111  0.722222      0.289352
C -0.236111  1.00  0.75  0.75 -0.236111  0.013889      0.168981

## Log de 02 sem substituir

In [64]:
np.log2(panda_df)

          1    2    3    4         5         6  Freq Overall
A      -inf -inf -inf -inf -0.020178      -inf     -2.605140
U -0.020178 -inf  0.0 -inf -6.169925 -1.921997     -1.406159
G -6.169925 -inf -inf  0.0      -inf -0.469485     -1.789103
C      -inf  0.0 -inf -inf      -inf -6.169925     -2.565063

## Log 02 com valors 0 substituidos

In [65]:
for i in range(0,4):
  for x in range(0,6):
    copiaSubistituida.iat[i,x] = copiaSubistituida.iat[i,x] / copiaSubistituida.iat[i,6]

np.log2(copiaSubistituida)

          1         2         3         4         5         6  Freq Overall
A       NaN  2.190103  2.190103  2.190103  2.584963       NaN     -2.605140
U  1.385981  0.991122  1.406159  0.991122 -4.763766 -0.515838     -1.406159
G -4.380822  1.374066  1.374066  1.789103       NaN  1.319618     -1.789103
C       NaN  2.565063  2.150025  2.150025       NaN -3.604862     -2.565063

#Motif C

## Leitura do arquivo e montagem da matriz

In [67]:
filename = '/content/motif_c.fasta'

dictSeqs = {}

with open(filename) as fp:
    for linha in fp:
      if(linha[0] == '>'):
        header = linha.strip()
        dictSeqs[header] = ''
      else:
        linha.rstrip()
        dictSeqs[header] = dictSeqs[header] + linha.replace('\n','')

#for i in dictSeqs.values():
  #print(i)

letras = ['A','U','G','C']

#print(len(letras))

matriz = [['x',1,2,3,4,5,6,7,8,'Freq Overall']]
linhaCont = 0
while(linhaCont < len(letras)):
  linha = []
  linha.append(letras[linhaCont])
  for x in range(0,9):
    linha.append('0')
  matriz.append(linha)
  linhaCont += 1


print(len(matriz))

5

In [68]:
import numpy as np
import pandas as pd


matriz = np.array(matriz)
# panda_df = pd.DataFrame(data = matriz[1:, 1:],
#                         index = matriz[1:, 0],
#                         columns = matriz[0, 1:])

# # Mostra a matriz pontuação
# display(panda_df)

## Frequencia na matriz

In [72]:
for x in range(0,8):
  tabela = {
  "A":0, "U":0, "G":0, "C":0,
  }
  for i in dictSeqs.values():
    if(i[x] != '-'):
      tabela[i[x]] += 1

  freq = [tabela['A'] / 72,tabela['U'] / 72,tabela['G'] / 72,tabela['C'] / 72]
  matriz[0+1,x+1] = freq[0]
  matriz[1+1,x+1] = freq[1]
  matriz[2+1,x+1] = freq[2]
  matriz[3+1,x+1] = freq[3]

In [73]:
panda_df = pd.DataFrame(data = matriz[1:, 1:],
                        index = matriz[1:, 0],
                        columns = matriz[0, 1:])

panda_df = panda_df.astype(float)
panda_df.dtypes

#display(panda_df)

for i in range(0,4):
  panda_df.iat[i,8] = panda_df.iloc[i,0:-1].mean()

copiaMatriz = panda_df.copy()

copiaSubistituida = panda_df.copy()

display(panda_df)

,1,2,3,4,5,6,7,8,Freq Overall
A,0.111111,0.027778,0.027778,0.819444,0.013889,0.000000,0.833333,0.111111,0.243056
U,0.055556,0.875000,0.083333,0.000000,0.833333,0.111111,0.000000,0.430556,0.298611
G,0.750000,0.069444,0.888889,0.000000,0.152778,0.847222,0.013889,0.402778,0.390625
C,0.041667,0.027778,0.000000,0.013889,0.000000,0.041667,0.152778,0.055556,0.041667

## Matriz normalizada

In [74]:
for i in range(0,4):
  for x in range(0,8):
    panda_df.iat[i,x] = panda_df.iat[i,x] / panda_df.iat[i,8]

display(panda_df)

,1,2,3,4,5,6,7,8,Freq Overall
A,0.457143,0.114286,0.114286,3.371429,0.057143,0.000000,3.428571,0.457143,0.243056
U,0.186047,2.930233,0.279070,0.000000,2.790698,0.372093,0.000000,1.441860,0.298611
G,1.920000,0.177778,2.275556,0.000000,0.391111,2.168889,0.035556,1.031111,0.390625
C,1.000000,0.666667,0.000000,0.333333,0.000000,1.000000,3.666667,1.333333,0.041667

## Substituindo por min - media

In [75]:
for i in range(0,4):
  for x in range(0,8):
    if(copiaMatriz.iat[i,x] == 0):
      copiaSubistituida.iat[i,x] = min(numero for numero in copiaMatriz.iloc[0:,x] if numero != 0) - copiaMatriz.iloc[0:,x].mean()

display(copiaSubistituida)

,1,2,3,4,5,6,7,8,Freq Overall
A,0.111111,0.027778,0.027778,0.819444,0.013889,-0.208333,0.833333,0.111111,0.243056
U,0.055556,0.875000,0.083333,-0.194444,0.833333,0.111111,-0.236111,0.430556,0.298611
G,0.750000,0.069444,0.888889,-0.194444,0.152778,0.847222,0.013889,0.402778,0.390625
C,0.041667,0.027778,-0.222222,0.013889,-0.236111,0.041667,0.152778,0.055556,0.041667

## Log de 02 sem substituir

In [76]:
np.log2(panda_df)

,1,2,3,4,5,6,7,8,Freq Overall
A,-1.129283e+00,-3.129283,-3.129283,1.753360,-4.129283,-inf,1.777608,-1.129283,-2.040642
U,-2.426265e+00,1.551015,-1.841302,-inf,1.480626,-1.426265e+00,-inf,0.527932,-1.743660
G,9.411063e-01,-2.491853,1.186219,-inf,-1.354350,1.116956e+00,-4.813781,0.044200,-1.356144
C,-1.601713e-16,-0.584963,-inf,-1.584963,-inf,-1.601713e-16,1.874469,0.415037,-4.584963

## Log 02 com valors 0 substituidos

In [77]:
for i in range(0,4):
  for x in range(0,8):
    copiaSubistituida.iat[i,x] = copiaSubistituida.iat[i,x] / copiaSubistituida.iat[i,6]

np.log2(copiaSubistituida)

,1,2,3,4,5,6,7,8,Freq Overall
A,-2.906891,-4.906891,-4.906891,-0.024248,-5.906891,NaN,0.0,-3.169925,-2.040642
U,NaN,NaN,NaN,-0.280108,NaN,NaN,0.0,-1.215729,-1.743660
G,5.754888,2.321928,6.000000,NaN,3.459432,5.930737,0.0,-1.311944,-1.356144
C,-1.874469,-2.459432,NaN,-3.459432,NaN,-1.874469,0.0,-4.169925,-4.584963